@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --neon-pink: 300 100% 50%;
    --neon-yellow: 58 100% 59%;
    --neon-purple: 258 100% 64%;
    --neon-green: 98 100% 72%;
  }

  @font-face {
    font-family: 'Aaux Pro';
    src: url('/fonts/aaux-probold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  * {
    @apply border-border;
  }

  body {
    @apply font-body antialiased bg-background text-foreground;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-display font-bold;
  }

  button, .button-text {
    @apply font-button uppercase tracking-wider;
  }
}